@page "/candidateinfo"

<PageTitle>Candidate Information</PageTitle>

<h2>David Lancellotti</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="Content\DaveImage.png" />
        </div>
        <div class="row">
            <div class="col-12">
                <a class="link-info" href="https://www.linkedin.com/in/david-lancellotti-11674384/">LinkedIn Profile</a><br />
                <a class="link-info" href="https://github.com/durimdead">GitHub content (not much here!)</a><br />
            </div>
        </div>
    </div>
</div>