@*@page "/userlisting"
@using DaveTestBlazor.Shared
@inject HttpClient Http

<PageTitle>User Listing</PageTitle>
<h2>User Listing</h2>

@code {
    private User[]? Users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var users = Http.GetFromJsonAsync<User[]>("api/User");
            Users = users.Result;
        }
        catch (Exception e)
        {
            Console.Write(e.Message);
        }
    }
}*@