@page "/userlisting"
@using DaveTestBlazor.Shared
@using DaveTestBlazor.Shared.Models
@inject HttpClient Http

<PageTitle>User Listing</PageTitle>
<h2>User Listing</h2>

@code {
    private User[]? Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await Http.GetFromJsonAsync<User[]>("User");
    }
}